html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $text-color;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-family: "SFProDisplay-Regular";
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
