@import "vars";
@import "reset";
@import "libs";
@import "fonts";
@import "global";

.header {
  &__inner {
    padding-top: 15px;
    padding-bottom: 78px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    align-items: center;
    @extend %sf-700;
    font-size: 20px;
    padding-bottom: 20px;
  }
  &__top-list {
    display: flex;
    gap: 50px;
  }
  &__top-info {
    display: flex;
    align-items: center;
    gap: 86px;
    padding-right: 15px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      @extend %img-style;
      width: 24px;
      height: 28px;
      top: -10px;
      left: -24px;
      background-image: url(../images/icons/location-sigh.svg);
    }
  }
  &__top-addres {
    max-width: 235px;
  }
  &__categories {
    display: flex;
    justify-content: space-between;
    background-color: $accent-gray;
    min-height: 53px;
    align-items: center;
  }
  &__categories-item {
    transition: all 0.3s;
    position: relative;
  }
  &__categories-link {
    @extend %sf-400;
    font-size: 20px;
    padding: 15px 0 17px;
    position: relative;
    transition: all 0.3;
    &::before {
      content: "";
      position: absolute;
      width: 0;
      left: auto;
      bottom: 0;
      right: 0;
      background-color: $accent-color;
      height: 3px;
    }
    @media (any-hover: hover) {
      &:hover {
        font-weight: 600;
        &::before {
          width: 100%;
          right: auto;
          transition: all 0.3s;
          left: 0;
        }
      }
    }
  }
}

.user-list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  position: relative;
  &__num {
    background-color: $accent-color;
    color: $white-color;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    display: flex;
    line-height: 12px;
    @extend %sf-500;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    right: -14px;
    bottom: -15px;
  }
}

.top {
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 36px;
  }
  &__slider {
    position: relative;
    max-width: 870px;
    width: 100%;
  }
  &__btn {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    &--prev {
      left: 20px;
    }
    &--next {
      right: 20px;
      transform: translateY(-50%) rotate(180deg);
    }
  }
  .slick-dots {
    position: absolute;
    display: flex;
    gap: 9px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    li {
      border: 1px solid $white-color;
      font-size: 0;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      margin: auto 0;
    }
  }
  .slick-active {
    background-color: $white-color;
  }
}

.sale-item {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @extend %sf-700;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__info {
    padding: 8px 20px;
    background-color: $accent-color;
    color: $white-color;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: inline-block;
  }
  &__price {
    position: relative;
    padding-right: 20px;
    text-align: right;
  }
  &__price-new {
    @extend %barlow-700;
    font-size: 27px;
    line-height: 32px;
    color: $accent-color;
    padding-bottom: 5px;
  }
  &__price-old {
    @extend %barlow-400;
    line-height: 17px;
    @extend %sf-400;
    font-size: 14px;
    color: $light-grey;
    background-image: url(../images/icons/line-old.svg);
    @extend %img-style;
    width: 60px;
    padding: 0 5px;
    display: inline-block;
  }
  &__img {
    margin: 0 auto;
    margin-bottom: 4px;
  }
  &__name {
    @extend %sf-700;
    font-size: 18px;
    margin-bottom: 7px;
  }
  &__bottom {
    @extend %sf-400;
    padding: 25px 12px;
    background-color: $accent-gray;
    font-size: 18px;
    line-height: 21px;
  }
  &__date {
    @extend %barlow-700;
    font-size: 18px;
    color: $accent-color;
    display: block;
  }
}

.search {
  &__tabs {
    display: flex;
    gap: 34px;
    margin-bottom: 25px;
  }
  &__item {
    padding: 12px 26px;
  }
  &__link {
    padding: 12px 26px;
  }
  .tabs__link--active {
    border-radius: 5px;
    background-color: $accent-gray;
    font-weight: 700;
  }
  &__content-form {
    display: flex;
  }
  &__content-item {
    display: none;
  }
  .tabs__content-item--active {
    display: block;
  }
  &__content-input {
    max-width: 1025px;
    width: 100%;
    padding: 15px 20px;
    background-color: $accent-gray;
    @extend %sf-400;
    font-size: 16px;
    color: #656464;
    border-radius: 3px;
    border: none;
  }
  &__content-btn {
    @extend %barlow-700;
    padding: 15px 35px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.12em;
    color: $white-color;
    background-color: $accent-color;
    text-transform: uppercase;
    height: 100%;
  }
}

.products {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    padding: 20px 5px 16px 20px;
    max-width: 370px;
    width: 100%;
    border: 1px solid $border-gray;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    transition: box-shadow 0.3s, color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 3px 3px 20px 0 rgba(50, 50, 50, 0.25);
        .products__name {
          color: $accent-color;
        }
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50%;
    width: 100%;
  }
  &__name {
    @extend %barlow-700;
    font-size: 23px;
  }
  &__detail {
    @extend %sf-400;
    color: $light-grey;
    width: fit-content;
    font-size: 14px;
    position: relative;
    padding-right: 10px;
    &::after {
      position: absolute;
      content: "";
      background-image: url(../images/icons/arrow-right.svg);
      @extend %img-style;
      width: 6px;
      height: 9px;
      right: 0px;
      top: 9px;
    }
  }
  &__img {
    @extend %img-style;
    margin: 0 auto;
  }
}

@import "media";
