@import "vars";
@import "reset";
@import "libs";
@import "fonts";
@import "global";

.header {
  &__inner {
    padding-top: 15px;
    padding-bottom: 78px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    align-items: center;
    @extend %sf-700;
    font-size: 20px;
    padding-bottom: 20px;
  }
  &__top-list {
    display: flex;
    gap: 50px;
  }
  &__top-info {
    display: flex;
    align-items: center;
    gap: 86px;
    padding-right: 15px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      @extend %img-style;
      width: 24px;
      height: 28px;
      top: -10px;
      left: -24px;
      background-image: url(../images/icons/location-sigh.svg);
    }
  }
  &__top-addres {
    max-width: 235px;
  }
  &__categories {
    display: flex;
    justify-content: space-between;
    background-color: $accent-gray;
    min-height: 53px;
    align-items: center;
  }
  &__categories-item {
    transition: all 0.3s;
    position: relative;
  }
  &__categories-link {
    @extend %sf-400;
    font-size: 20px;
    padding: 15px 0 17px;
    position: relative;
    transition: all 0.3;
    &::before {
      content: "";
      position: absolute;
      width: 0;
      left: auto;
      bottom: 0;
      right: 0;
      background-color: $accent-color;
      height: 3px;
    }
    @media (any-hover: hover) {
      &:hover {
        font-weight: 600;
        &::before {
          width: 100%;
          right: auto;
          transition: all 0.3s;
          left: 0;
        }
      }
    }
  }
}

.user-list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  position: relative;
  &__num {
    background-color: $accent-color;
    color: $white-color;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    display: flex;
    line-height: 12px;
    @extend %sf-500;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    right: -13px;
    bottom: -5px;
  }
}

.top {
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 36px;
  }
  &__slider {
    position: relative;
    max-width: 870px;
    width: 100%;
  }
  &__btn {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    &--prev {
      left: 20px;
    }
    &--next {
      right: 20px;
      transform: translateY(-50%) rotate(180deg);
    }
  }
  .slick-dots {
    position: absolute;
    display: flex;
    gap: 9px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    li {
      border: 1px solid $white-color;
      font-size: 0;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      margin: auto 0;
    }
  }
  .slick-active {
    background-color: $white-color;
  }
}

.sale-item {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @extend %sf-700;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__info {
    padding: 8px 20px;
    background-color: $accent-color;
    color: $white-color;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: inline-block;
  }
  &__price {
    position: relative;
    padding-right: 20px;
    text-align: right;
  }
  &__price-new {
    @extend %barlow-700;
    font-size: 27px;
    line-height: 32px;
    color: $accent-color;
    padding-bottom: 5px;
  }
  &__price-old {
    @extend %barlow-400;
    line-height: 17px;
    @extend %sf-400;
    font-size: 14px;
    color: $light-grey;
    background-image: url(../images/icons/line-old.svg);
    @extend %img-style;
    width: 60px;
    padding: 0 5px;
    display: inline-block;
  }
  &__img {
    margin: 0 auto;
    margin-bottom: 4px;
  }
  &__name {
    @extend %sf-700;
    font-size: 18px;
    margin-bottom: 7px;
  }
  &__bottom {
    @extend %sf-400;
    padding: 25px 12px;
    background-color: $accent-gray;
    font-size: 18px;
    line-height: 21px;
  }
  &__date {
    @extend %barlow-700;
    font-size: 18px;
    color: $accent-color;
    display: block;
  }
}

.search {
  &__tabs {
    display: flex;
    gap: 34px;
    margin-bottom: 25px;
  }
  &__item {
    padding: 12px 26px;
  }
  &__link {
    padding: 12px 26px;
  }
  .tabs__item--active {
    border-radius: 5px;
    background-color: $accent-gray;
    font-weight: 700;
  }
  &__content-form {
    display: flex;
  }
  &__content-item {
    display: none;
  }
  .tabs__content-item--active {
    display: block;
  }
  &__content-input {
    max-width: 1025px;
    width: 100%;
    padding: 15px 20px;
    background-color: $accent-gray;
    @extend %sf-400;
    font-size: 16px;
    color: #656464;
    border-radius: 3px;
    border: none;
  }
  &__content-btn {
    @extend %barlow-700;
    padding: 15px 35px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.12em;
    color: $white-color;
    background-color: $accent-color;
    text-transform: uppercase;
    height: 100%;
  }
}

.products {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    padding: 20px 5px 16px 20px;
    max-width: 370px;
    width: 100%;
    border: 1px solid $border-gray;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    transition: box-shadow 0.3s, color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 3px 3px 20px 0 rgba(50, 50, 50, 0.25);
        .products__name {
          color: $accent-color;
        }
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50%;
    width: 100%;
  }
  &__name {
    @extend %barlow-700;
    font-size: 23px;
  }
  &__detail {
    @extend %sf-400;
    color: $light-grey;
    width: fit-content;
    font-size: 14px;
    position: relative;
    padding-right: 10px;
    &::after {
      position: absolute;
      content: "";
      background-image: url(../images/icons/arrow-right.svg);
      @extend %img-style;
      width: 6px;
      height: 9px;
      right: 0px;
      top: 9px;
    }
  }
  &__img {
    @extend %img-style;
    margin: 0 auto;
  }
}

.offerings {
  .tabs__item--active {
    @extend %sf-500;
    padding: 10px 0;
    border-bottom: 2px solid $accent-color;
  }
  .tabs__content-item {
    display: none;
    &--active {
      display: block;
    }
  }
  &__btn {
    padding: 17px 43px 15px;
    @extend %sf-400;
    background-color: $accent-gray;
    font-size: 15px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
  }
}

.tabs-form {
  &__tabs {
    display: flex;
    gap: 50px;
    @extend %sf-400;
    text-transform: lowercase;
    font-size: 15px;
    margin-bottom: 25px;
  }
  &__tab {
    padding: 10px 0;
  }
  &__content {
    margin-bottom: 35px;
  }
}

.item-slider {
  &__btn {
    width: 16px;
    height: 29px;
    position: absolute;
    top: 47%;
    &--prev {
      left: -35px;
    }
    &--next {
      right: -20px;
    }
  }
  &__arrow {
    width: 16px;
    height: 29px;
    @extend %img-style;
    &--next {
      transform: rotateY(180deg);
    }
  }
}

.offering-card {
  max-width: 271px;
  width: 100%;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  height: 403px;
  padding: 30px 23px;
  position: relative;
  transition: box-shadow 0.3s, color 0.3s;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 3px 3px 20px 0 rgba(50, 50, 50, 0.25);
      .offering-card__name,
      .offering-card__price {
        color: $accent-color;
      }
      .offering-card__hover-text {
        top: 100px;
        display: block;
      }
    }
  }
  &--not-available {
    .offering-card__link {
      justify-content: flex-start;
    }
    .offering-card__price,
    .offering-card__btn {
      display: none;
    }
    .offering-card__name {
      padding: 20px 0 7px;
    }
    .offering-card__notify-text,
    .offering-card__notify-link {
      display: block;
    }
  }
  &__favorite,
  &__btn {
    content: "";
    position: absolute;
    @extend %img-style;
  }
  &__favorite {
    right: 19px;
    top: 16px;
    width: 24px;
    height: 22px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background-image: url(../images/icons/heart.svg);
      width: 24px;
      height: 22px;
    }
    &--active::before {
      background-image: url(../images/icons/heart-like.svg);
    }
  }
  &__link {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    &--sale::before {
      content: "sale";
      font-size: 12px;
      letter-spacing: 0.07em;
      color: $white-color;
      padding: 8px 15px;
      line-height: 14px;
      background-color: $accent-color;
      text-transform: uppercase;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &__hover-text {
    font-size: 20px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    padding: 18px 21px;
    position: absolute;
    display: none;
    background-color: rgba($white-color, 0.9);
  }
  &__img {
    @extend %img-style;
    max-width: 200px;
    max-height: 200px;
    margin-top: 20px;
  }
  &__name {
    @extend %sf-400;
    font-size: 18px;
    max-width: 200px;
    width: 100%;
  }
  &__price {
    @extend %barlow-700;
    font-size: 30px;
  }
  &__btn {
    height: 40px;
    width: 60px;
    right: 0;
    bottom: 0;
    border-radius: 10px 0 0 0;
    background-color: $accent-color;
    background-size: auto;
    &::before {
      content: "";
      width: 30px;
      height: 23px;
      top: 10px;
      left: 14px;
      position: absolute;
      background-image: url(../images/icons/cart-icon.svg);
    }
  }
  &__notify-text,
  &__notify-link {
    display: none;
  }
  &__notify-text {
    @extend %sf-700;
    font-size: 18px;
    margin-bottom: 13px;
  }
  &__notify-link {
    color: $accent-color;
    font-size: 16px;
    text-decoration: underline;
    position: absolute;
    bottom: 25px;
    text-align: center;
    line-height: 19px;
    right: 0;
    left: 0;
  }
}

.banner {
  &__img {
    @extend %img-style;
  }
}

.product-popular {
  margin-bottom: 97px;
  .tabs__item--active {
    @extend %sf-500;
    padding: 10px 0;
    border-bottom: 2px solid $accent-color;
  }
  .tabs__content-item {
    display: none;
    &--active {
      display: block;
    }
  }
}

.footer {
  padding: 42px 0 27px;
  background-color: $accent-gray;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    max-width: 295px;
    width: 100%;
  }
  &__form {
    max-width: 295px;
    width: 100%;
    display: flex;
  }
  &__title {
    margin-bottom: 34px;
    max-width: 295px;
    width: 100%;
    @extend %sf-700;
    line-height: 17px;
    font-size: 14px;
  }
  &__input {
    max-width: 185px;
    width: 100%;
    padding: 8px 12px;
    background-color: $white-color;
    border: none;
    display: inline-block;
    line-height: 17px;
    font-size: 14px;
    &::placeholder {
      @extend %sf-400;
      font-size: 14px;
      color: $light-grey;
    }
  }
  &__btn {
    display: inline-block;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: $white-color;
    background-color: $accent-color;
    padding: 10px 16px;
  }
  &__box {
    display: flex;
    gap: 100px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 17px;
    max-width: 200px;
    width: 100%;
  }
  &__item-title {
    @extend %sf-700;
    font-size: 14px;
  }
  &__link {
    font-size: 14px;
  }
  &__social-media {
    display: flex;
    gap: 30px;
  }
  &__social-link {
    width: 30px;
    height: 30px;
    position: relative;
    display: block;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      @extend %img-style;
      width: 30px;
      height: 30px;
    }
    &--inst::before {
      background-image: url(../images/icons/inst.svg);
    }
    &--facebook::before {
      background-image: url(../images/icons/facebook.svg);
    }
    &--youtube::before {
      background-image: url(../images/icons/youtube.svg);
    }
  }
  &__bottom {
    padding: 46px 0 22px;
    display: flex;
    justify-content: center;
  }
  &__bottom-link {
    font-size: 10px;
    line-height: 12px;
    color: #48494d;
    margin: 0 40px;
  }
}

.bread-crumps {
  margin-bottom: 41px;
  &__list {
    display: flex;
    gap: 26px;
  }
  &__item {
    position: relative;
    display: inline-block;
    position: relative;
    @extend %sf-400;
    font-size: 15px;
    color: $light-grey;
    &:not(:last-of-type)::before {
      content: "";
      position: absolute;
      @extend %img-style;
      background-image: url(../images/icons/arrow-right.svg);
      width: 6px;
      height: 10px;
      right: -16px;
      top: 8px;
    }
  }
}

.catalog {
  margin-bottom: 100px;
  &__title {
    @extend %sf-700;
    font-size: 30px;
    margin-bottom: 26px;
    line-height: 36px;
  }
  &__filter {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }
  &__filter-items {
    display: flex;
    gap: 10px;
  }
  &__filter-item {
    display: inline-block;
    padding: 4px 22px;
    background-color: $accent-gray;
    font-weight: 400;
    line-height: 17px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
  }

  &__filter-select {
    margin-right: 34px;
  }

  &__filter-btnform {
    cursor: pointer;
  }

  &__filter-btngrid {
    margin-right: 10px;
  }

  &__inner {
    display: flex;
    gap: 10px;
  }

  &__inner-aside {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
  }

  &__aside {
    max-width: 290px;
    width: 100%;
    display: flex;
    gap: 42px;
  }

  &__aside-btn {
    color: $light-grey;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.09em;
    margin-bottom: 48px;
    text-transform: uppercase;
    &--active {
      @extend %sf-700;
      color: $text-color;
      padding-bottom: 7px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        border-bottom: 2px solid $accent-color;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }
  }

  &__aside-option:not(:last-of-type) {
    margin-bottom: 41px;
  }

  &__aside-title {
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    padding-left: 26px;
    margin-bottom: 10px;
    line-height: 19px;
    position: relative;
    transition: transform 0.3s;
    &::before {
      position: absolute;
      content: "";
      background-image: url(../images/icons/arrow-right.svg);
      width: 12px;
      height: 8px;
      left: 0;
      top: 10px;
      transform: rotate(90deg);
      @extend %img-style;
    }
    &--not-active::before {
      transform: rotate(270deg);
      top: 5px;
    }
  }

  &__aside-select {
    border-bottom: 2px solid $light-grey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
  }

  &__aside-title-select {
    font-weight: 600;
    font-size: 16px;
    padding-left: 26px;
    margin-bottom: 6px;
  }

  &__aside-select-box {
    @extend %barlow-400;
    font-size: 14px;
    color: #48494d;
  }

  .jq-selectbox__select {
    border: none;
    background: none;
    box-shadow: none;
  }

  .jq-selectbox__trigger {
    border-left: none;
    right: 13px;
  }

  .jq-selectbox__trigger-arrow {
    border: none;
    background-image: url(../images/icons/arrow-right.svg);
    @extend %img-style;
    width: 12px;
    height: 8px;
    top: 51%;
    transform: rotate(90deg);
  }

  .opened {
    .jq-selectbox__select {
      border: none;
      background: none;
      box-shadow: none;
    }
    .jq-selectbox__trigger-arrow {
      transform: rotate(270deg);
    }
  }

  &__aside-box {
    display: flex;
    justify-content: space-between;
  }

  &__aside-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  &__aside-label {
    font-size: 14px;
  }

  .jq-checkbox,
  .jq-radio {
    width: 14px;
    height: 14px;
    border: $light-grey solid 1px;
    border-radius: 3px;
    background: none;
    margin: 0 8px 0 0;
  }

  .checked {
    background-color: $accent-color;
    border-radius: 0;
    border-color: $accent-color;
    box-shadow: none;
  }

  .jq-checkbox__div {
    border-bottom: 1px solid $white-color;
    border-left: 1px solid $white-color;
  }

  &__aside-content {
    display: none;
    &--active {
      display: block;
    }
  }

  &__aside-box--not-active {
    display: none;
  }

  &__inner-content {
    width: 100%;
  }

  &__inner-list {
    padding-bottom: 70px;
    &--btngrid-active {
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
    }

    &--btnline-active {
      .item-slider__slide {
        width: 100%;
      }
      .offering-card {
        max-width: 100%;
        width: 100%;
      }
      .tabs-form__content-slide:not(:last-of-type) {
        margin-bottom: 20px;
      }
      .offering-card__link {
        flex-direction: row;
      }
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  &__pagination-item {
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light-grey;
    @extend %barlow-400;
    font-weight: 400;
    font-size: 18px;
    &--active {
      border: 2px solid $accent-color;
      color: $accent-color;
      font-weight: 600;
    }
  }
}

.product {
  &__inner {
    display: flex;
    justify-content: space-between;
    height: 579px;
  }
  &__visualisation {
    max-width: 500px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  &__img {
    padding-top: 72px;
  }
  &__info {
    max-width: 570px;
    width: 100%;
  }
}

.shops {
  &__item {
    display: flex;
    justify-content: space-between;
  }
}

@import "media";
